{% extends 'layout.html' %}
{% block body %}
<div class="content-body" id="projects">
<h1>Projects</h1>
	<p class="project" id="isolation"><span><a href="//www.kongregate.com/games/kmakai/isolation">ISOLATION</a> ( a game about personal space )</span></p>
	<p class="project" id="freedom"><span><a href="//ktravis.github.io/yt-freedom">YOUTUBE FREEDOM</a> ( minimalist viewing window for youtube )</span></p>
	<p class="project" id="tinyforum"><span><a href="//tinyforum.herokuapp.com">TINYFORUM</a> ( a small bulletin board system, written in clojure )<span></p>
	<p class="project" id="husk"><span>HUSK ( interactive fiction game and platform )<span></p>
	<p class="project" id="scraps"><span><a href="//gist.github.com/ktravis">SCRAPS</a> ( minor works... )<span></p>
</div>
{% endblock %}