html, body {height: 100%; }
body {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica 12pt;
    background-color: #eee;
}
#main-wrap {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: 20px;
}
#sidebar {
    width: 250px;
    height: 100%;
    float: left;
}
#nav-set-wrapper {
    background-image: url("bg.png");
    top: 0px;
    left: 0px;
    width: 193px;
    height: 448px;
}
#nav-set {
    position: absolute;
    top: 150px;
    left: 45px;
    -webkit-transform-origin: -130% 53%;
    -webkit-transform: rotate(20deg);
    -moz-transform-origin: -130% 53%;
    -moz-transform: rotate(20deg);
    height: 100px;
    font-size: 20pt;
}
#nav-set div {
    display: inline-block;
    color: #fff;
    cursor: pointer;
}
#s1 {
    -webkit-transform-origin: -70% 63%;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: -70% 63%;
    -moz-transform: rotate(-20deg);
}
#s2 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
#s3 {
    -webkit-transform-origin: -70% 63%;
    -webkit-transform: rotate(20deg);
    -moz-transform-origin: -70% 63%;
    -moz-transform: rotate(20deg);
}
.active {
    border-bottom: 2px dotted #ddd;
}
#content-main {
    padding-top: 90px;
    padding-left: 270px;
    padding-bottom: 60px;
    min-width: 420px;
    width: 48%;
}
h1 {
    margin-bottom: 0px;
}
pre { 
    padding: 10px;
    min-width: 400px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
}
.project {
    padding: 30px;
    background-color: #fff;
    max-width: 460px;
    min-width: 460px;
    border-left: 3px #555 solid;
}
.project:hover { border-left: 3px #d10 solid; }
.project span { background-color: rgba(255, 255, 255, 0.95); padding: 10px;
    min-width: 500px; }
#isolation { background-image: url("iso.png"); }
#freedom { background-image: url("free.png"); }
#tinyforum { background-image: url("tiny.png"); }
/*#husk { background-image: url("husk.png"); }*/
#scraps { background-image: url("scraps.png"); }
a {
    text-decoration: none;
    color: #d10;
}
a:hover {
    background-color: #dedede;
}
#about-more {
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    color: #d10;
    background-color: #fff;
    margin-left: 40%;
    margin-right: 40%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

}
#about-more:hover {
    background-color: #ddd;
    color: #aaa;
}
#about-hidden {
    display: none;
    color: #333;
    max-width: 400px;
}
#footer {
    font-size: 10pt;
    color: #222;
    position: relative;
    height: 20px;
    margin-top: -20px;
    clear: both;
    width: 100%;
    text-align: center;
}
/*Opera Fix -- Sticky Footer*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}
