{% if not stub %}
<!doctype html>
<html>
<head>
    <title>{% block title %}ktravis{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/temple.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div id="main-wrap">
        <div id="main">
            <div id="sidebar">
                <div id="nav-set-wrapper">
                </div>
                <div id="nav-set">
                    <div id="s1" title="projects" class="side-link" href="{{ url_for('projects') }}">projects</div>
                    <br>
                    <div id="s2" title="blog" class="side-link" href="{{ url_for('blog') }}">blog</div>
                    <br>
                    <div id="s3" title="about"class="side-link" href="{{ url_for('about') }}">about</div>
                </div>
            </div>
            <div class=metanav>
                {% if logged_in %}
                <a href="{{ logout_url }}">log out</a>
                {% endif %}
            </div>
            <div id="content-main" style="display:none;">
{% endif %}
            {% block body %}{% endblock %}
{% if not stub %}
            </div>
        </div>
    </div>
    <div id="footer">&copy; 2013 Kyle Travis, <a href="//ktravis.mit-license.org">MIT License</a></div>
</body>
</html>
{% endif %}